*.log
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/machines/default/virtualbox/synced_folders
bin/c_compiler
src/c_lexer.yy.cpp
src/c_lexer.yy.o
src/c_parser.output
src/c_parser.tab.cpp
src/c_parser.tab.hpp
src/c_parser.tab.o
src/c_compiler.o
test
testfile.c
testfile.s
bin/c_compiler
*.stderr
